In [44]:
# Import findspark and initialize. 
import findspark
findspark.init()

In [45]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [46]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"

spark.sparkContext.addFile(url)
df = spark.read.option("header", "true").csv(SparkFiles.get("home_sales_revised.csv"), inferSchema = True, sep = ",")
df.show()

23/05/28 01:53:25 WARN SparkContext: The path https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv has been added already. Overwriting of added paths is not supported in the current version.
+--------------------+-------------------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|               date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+-------------------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08 00:00:00|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13 00:00:00|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12 00:00:00|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16 00:00:00|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08 00:00:00|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30 00:00:00|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08 00:00:00|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21 00:00:00|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16 00:00:00|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06 00:00:00|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
|f876d86f-3c9f-42b...|2019-02-27 00:00:00|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|
|0a2bd445-8508-4d8...|2021-12-30 00:00:00|      2014|337527|       2|        3|       1926|   12556|     1|         0|  23|
|941bad30-eb49-4a7...|2020-05-09 00:00:00|      2015|229896|       3|        3|       2197|    8641|     1|         0|   3|
|dd61eb34-6589-4c0...|2021-07-25 00:00:00|      2016|210247|       3|        2|       1672|   11986|     2|         0|  28|
|f1e4cef7-d151-439...|2019-02-01 00:00:00|      2011|398667|       2|        3|       2331|   11356|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31 00:00:00|      2011|437958|       3|        3|       2356|   11052|     1|         0|  26|
|f233cb41-6f33-4b0...|2021-07-18 00:00:00|      2016|437375|       4|        3|       1704|   11721|     2|         0|  34|
|c797ca12-52cd-4b1...|2019-06-08 00:00:00|      2015|288650|       2|        3|       2100|   10419|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04 00:00:00|      2015|308313|       3|        3|       1960|    9453|     2|         0|   2|
|4566cd2a-ac6e-435...|2019-07-15 00:00:00|      2016|177541|       3|        3|       2130|   10517|     2|         0|  25|
+--------------------+-------------------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

In [50]:
# 2. Create a temporary view of the DataFrame.
df.createOrReplaceTempView("home_sales")

In [51]:
result = spark.sql("""
    SELECT EXTRACT(YEAR FROM date) AS year, ROUND(AVG(price), 2) AS average_price
    FROM home_sales
    WHERE bedrooms = 4
    GROUP BY year
    ORDER BY year
""")

result.show()

+----+-------------+
|year|average_price|
+----+-------------+
|2019|     300263.7|
|2020|    298353.78|
|2021|    301819.44|
|2022|    296363.88|
+----+-------------+

In [54]:
# 4. What is the average price of a home for each year the home was built that have 3 bedrooms and 3 bathrooms rounded to two decimal places?
result = spark.sql("""
    select extract (year from date) as year, round(avg(price), 2) as `average price of a home`
    from home_sales
    where bedrooms == 3 and bathrooms == 3
    group by year
    """)
result.show()

+----+-----------------------+
|year|average price of a home|
+----+-----------------------+
|2022|              292725.69|
|2019|              287287.82|
|2020|              294204.16|
|2021|              294211.46|
+----+-----------------------+

In [55]:
#  5. What is the average price of a home for each year built that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet rounded to two decimal places?
result = spark.sql("""
    select extract (year from date) as year, round(avg(price), 2) as `average price of a home`
    from home_sales
    where bedrooms == 3 and bathrooms == 3 and sqft_living >= 2000
    group by year
    """)
result.show()

+----+-----------------------+
|year|average price of a home|
+----+-----------------------+
|2022|              302871.28|
|2019|              294372.02|
|2020|               296314.6|
|2021|              305118.97|
+----+-----------------------+

In [56]:
# 6. What is the "view" rating for the average price of a home, rounded to two decimal places, where the homes are greater than
# or equal to $350,000? Although this is a small dataset, determine the run time for this query.

start_time = time.time()

result = spark.sql("""
    select round(avg(price), 2) as `average price of a home`
    from home_sales
    where price >= 350000
    group by view
    """)
result.show()

print("--- %s seconds ---" % (time.time() - start_time))

+-----------------------+
|average price of a home|
+-----------------------+
|              399856.95|
|             1056336.74|
|              736679.93|
|               755214.8|
|             1080649.37|
|              401419.75|
|             1053472.79|
|              402124.62|
|             1058802.78|
|              401506.97|
|              399537.66|
|              400598.05|
|              401501.32|
|             1137372.73|
|              402022.68|
|             1026006.06|
|               398447.5|
|              401044.25|
|              733780.26|
|              398917.98|
+-----------------------+
only showing top 20 rows

--- 0.13721394538879395 seconds ---

In [57]:
# 7. Cache the the temporary table home_sales.
spark.sql("cache table home_sales")

DataFrame[]

In [58]:
# 8. Check if the table is cached.
spark.catalog.isCached('home_sales')

True

In [59]:
# 9. Using the cached data, run the query that filters out the view ratings with average price 
#  greater than or equal to $350,000. Determine the runtime and compare it to uncached runtime.

start_time = time.time()

result = spark.sql("""
    select view, round(avg(price), 2) as `ratings with average price`
    from home_sales
    where price >= 350000
    group by view
    """)
result.show()

print("--- %s seconds ---" % (time.time() - start_time))

+----+--------------------------+
|view|ratings with average price|
+----+--------------------------+
|  31|                 399856.95|
|  85|                1056336.74|
|  65|                 736679.93|
|  53|                  755214.8|
|  78|                1080649.37|
|  34|                 401419.75|
|  81|                1053472.79|
|  28|                 402124.62|
|  76|                1058802.78|
|  26|                 401506.97|
|  27|                 399537.66|
|  44|                 400598.05|
|  12|                 401501.32|
|  91|                1137372.73|
|  22|                 402022.68|
|  93|                1026006.06|
|  47|                  398447.5|
|   1|                 401044.25|
|  52|                 733780.26|
|  13|                 398917.98|
+----+--------------------------+
only showing top 20 rows

--- 0.10980510711669922 seconds ---

In [60]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data 
df.write.partitionBy("date_built").mode("overwrite").parquet("home_sales_partition")

In [61]:
# 11. Read the formatted parquet data.
parquet_data = spark.read.parquet("home_sales_partition")

In [62]:
# 12. Create a temporary table for the parquet data.
parquet_data.createOrReplaceTempView("home_sales_partition")

In [64]:
# 13. Run the query that filters out the view ratings with average price of greater than or eqaul to $350,000 
# with the parquet DataFrame. Round your average to two decimal places. 
# Determine the runtime and compare it to the cached version. 

start_time = time.time()

result = spark.sql("""
    select view, round(avg(price), 2) as `ratings with average price`
    from home_sales_partition
    where price >= 350000
    group by view
    """)
result.show()

print("--- %s seconds ---" % (time.time() - start_time))

+----+--------------------------+
|view|ratings with average price|
+----+--------------------------+
|  31|                 399856.95|
|  85|                1056336.74|
|  65|                 736679.93|
|  53|                  755214.8|
|  78|                1080649.37|
|  34|                 401419.75|
|  81|                1053472.79|
|  28|                 402124.62|
|  76|                1058802.78|
|  26|                 401506.97|
|  27|                 399537.66|
|  44|                 400598.05|
|  12|                 401501.32|
|  91|                1137372.73|
|  22|                 402022.68|
|  93|                1026006.06|
|  47|                  398447.5|
|   1|                 401044.25|
|  52|                 733780.26|
|  13|                 398917.98|
+----+--------------------------+
only showing top 20 rows

--- 0.21045994758605957 seconds ---

In [65]:
# 14. Uncache the home_sales temporary table.
spark.sql("uncache table home_sales")

DataFrame[]

In [66]:
# 15. Check if the home_sales is no longer cached
spark.catalog.isCached("home_sales")

False